# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android



# Node Modules
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json # اختياري، يفضل رفعه لضمان استقرار الإصدارات
yarn.lock         # اختياري، يفضل رفعه

# React Native / iOS / Android
/ios/Pods/
/ios/build/
/android/app/build/
.gradle/
*.iml
.idea/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
/dist/
/build/

# IDE / Editor Settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
